<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:include="/navbar.html :: navbar"></div>
</div>
<div class="container">
    <br>
    <div>
        <h2 style="text-align: center;" th:text="${owner.username + 's Image Gallery'}"></h2>
    </div>
    <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" th:if="${posts.size() > 0}">
                    <img th:src="${posts.get(0).imageUrl}" class="d-block w-100" alt="..." src="">
                </div>
                <div class="carousel-item" th:if="${posts.size() >= 1}" th:each="photos, istat : ${posts}">
                    <img th:src="${photos.imageUrl}" class="d-block w-100" alt="..." src="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

</body>
</html>


<!--<div th:if="${images}">-->
<!--    <div th:each="photos : ${posts}">-->
<!--        <img th:if="${photos.imageUrl != null}" th:src="${photos.imageUrl}" class="rounded float-start"-->
<!--             style="max-width: 500px; max-height: 500px"-->
<!--             alt="placeholder" src=""/>-->
<!--    </div>-->
<!--</div>-->