<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:include="/navbar.html :: navbar"></div>
</div>
<main class="container">
<div>
    <p>Welcome Administrator</p>
    <p sec:authorize="hasRole('ROLE_ADMIN')"></p>
</div>
<div>
    <h5>List of Users</h5>
    <br>
    <ul th:each="user : ${users}">
        <li th:text="${user.id} + ${user.username}"></li>
        <form th:action="${'/user/' + user.id + '/delete'}" th:method="post">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </ul>

</div>
</main>
</body>
</html>