<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Create Your Group Here:</h2>
<br>
<form th:action="@{/groups/create}" method="POST" th:object="${group}">
    <div>
        <label for="name">Group Name</label>
        <input class="form-control" type="text" id="name" th:field="*{name}"
               placeholder="the food group"/>
    </div>
    <div>
        <label for="description">Group Description</label>
        <input class="form-control" type="text" id="description" th:field="*{description}" placeholder="we love fine dining"/>
    </div>
    <button type="submit" class="btn btn-primary">Create Group</button>
</form>
</body>
</html>