<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header.html :: header">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div>
    <div th:include="/navbar.html :: navbar"></div>
</div>

<main class="container">

    <br>
    <div class="row">
        <div class="card col-9 justify-content-center" style="width: 75rem;">
            <div class="card-header">
                <h1 th:text="${groups.name}"></h1>
                <p th:text="${groups.description}"></p>
            </div>
            <ul style="list-style: none;" th:each="users : ${groups.users}">
                <li th:text="${users.username}"></li>
            </ul>
            <div th:if="${!isMember}">
                <form th:action="${'/groups/' + groups.id  + '/join'}" method="POST">
                    <button class="btn btn-success" type="submit">Join Group</button>
                </form>
            </div>
        </div>
    </div>

</main>
</body>
</html>