<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/header.html :: header">
    <title>And, Here We Are!</title>
</head>
<body>
<div th:include="/navbar.html :: navbar"></div>
<div sec:authorize="isAuthenticated()">
    <h2>Welcome <span th:text="${#authentication.principal.username}"></span></h2></div>
<main class="container">
    <div th:if="${word != null}">
        <span style="text-align: center; text-decoration: underline;"><h3>Here Are Your Search Results:</h3></span>
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div th:each="post : ${posts}">
                    <div class="card text-black bg-light mb-3 row" style="max-width: 300rem;">
                        <img th:if="${post.imageUrl != null}" src="" alt="" th:src="${post.imageUrl}">
                        <div class="card-header">
                            <h4 class="card-title" th:text="${post.title}"></h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${post.content}"></p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-text" th:text="${post.timePosted}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${word == null}"></div>
    <div th:unless="${word != null}">
        <h1 class="text-center">See All Posts Here:</h1>
        <br>
        <div class="post d-flex flex-column align-items-center">
            <div class="card text-black bg-light mb-3 col-9 p-2 d-flex justify-content-center" th:each="post : ${posts}"
                 style="max-width: 300rem;">
                <img th:if="${post.imageUrl != null}" src="" alt="" th:src="${post.imageUrl}">
                <div sec:authorize="isAuthenticated()" class="card-header">
                    <a th:href="@{/posts/__${post.id}__}"><h5 class="card-title" th:text="${post.title}"></h5></a>
                </div>
                <div>
                    <div class="card-body">
                        <p class="card-text" th:text="${post.content}"></p>
                    </div>
                    <div class="card-body">
                        <span th:text="${#calendars.format(post.timePosted, 'E, MMM dd yyyy h:mm a')}"></span>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()" class="container mt-5" >
                    <div class="d-flex justify-content-center row">
                        <div>
                            <div class="d-flex flex-column comment-section">
                                <div class="bg-white p-2" th:each="postComments : ${post.getComment()}">
                                    <div class="d-flex flex-row user-info"><img class="rounded-circle" th:src="${postComments.getUserId().avatarUrl}" width="40">
                                        <a style='padding-left: 5px;' th:href="${'/profile/' + postComments.getUserId().id}">
                                            <div class="d-flex flex-column justify-content-start ml-2"
                                                 th:text="${postComments.getUserId().username}">
                                                <span class="d-block font-weight-bold name">Marry Andrews</span><span
                                                    class="date text-black-50">Shared publicly - Jan 2020</span></div>
                                        </a>
                                    </div>
                                    <div class="mt-2">
                                        <p class="comment-text" th:text="${postComments.comment}">Lorem ipsum dolor sit
                                            amet,
                                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                            dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                            nisi ut
                                            aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                                <div class="bg-white">
                                    <div class="d-flex flex-row fs-12">
                                        <div class="like p-2 cursor">
                                            <p><i class="fas fa-thumbs-up"></i> <span
                                                    th:text="${post.usersLiked.size()}"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/comment/create}" th:method="POST">
                                    <div class="bg-light pb-4">
                                        <div class="d-flex flex-row align-items-start">
                                            <label for="comment"></label>
                                            <textarea class="form-control ml-1 shadow-none textarea" name="comment"
                                                      id="comment" placeholder="Comment here"></textarea>
                                            <input type="hidden" name="postId" th:value="${post.id}">
                                        </div>
                                        <div class="mt-2 text-right">
                                            <button class="btn btn-success btn-sm shadow-none" type="submit">Post
                                                Comment
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="mt-1 text-right">
                                    <form th:action="@{/post/liked}" method="post">
                                        <input type="hidden" name="postId" th:value="${post.id}">
                                        <button class="btn btn-success btn-sm shadow-none" type="submit">Like
                                            Post
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div>
    <!--    <footer th:replace="posts/footer :: footer"></footer>-->
</div>
</body>


</html>


<!--<div th:each="post : ${posts}">-->
<!--    <h5 th:text="${post.title}"></h5>-->
<!--    <img th:src="${post.imageUrl}" alt="placeholder" src=""/>-->
<!--    <p th:text="${post.content}"></p>-->
<!--</div>-->

<!--<img class="rounded-circle" src="" width="40">-->

<!--<div>-->
<!--    <p>This post has been liked:<span th:text="${post.usersLiked.size()}"></span></p>-->
<!--</div>-->

<!--<form th:action="@{/post/liked}" method="post">-->
<!--    <input type="hidden" name="postId" th:value="${post.id}">-->
<!--    <button type="submit" class="btn btn-success">Like</button>-->
<!--</form>-->