<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/header.html :: header">
    <title>And, Here We Are!</title>
</head>
<body>
<div th:include="/navbar.html :: navbar"></div>
<div sec:authorize="isAuthenticated()">
    <h2>Welcome <span th:text="${#authentication.principal.username}"></span></h2></div>
<main class="container">
    <div th:if="${word != null}">
        <span><h1>Here Are Your Search Results</h1></span>
        <div th:each="post : ${posts}">
            <h5 th:text="${post.title}"></h5>
            <img th:src="${post.imageUrl}" alt="placeholder" src=""/>
            <p th:text="${post.content}"></p>
        </div>
    </div>
    <div th:if="${word == null}"></div>
    <div th:unless="${word != null}">
        <h1 class="text-center">See All Posts Here:</h1>
        <br>
        <div class="post">
            <div class="card text-black bg-light mb-3 row" th:each="post : ${posts}" style="max-width: 300rem;">
                <div sec:authorize="isAuthenticated()" class="card-header">
                    <a th:href="@{/posts/__${post.id}__}"><h5 class="card-title" th:text="${post.title}"></h5></a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <div class="card text-black bg-light mb-3 row" style="max-width: 300rem;">
                        <img th:src="${post.imageUrl}" class="card-img-top" src="" alt="..."/>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${post.content}"></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text" th:text="${post.timePosted}"></h5>
                    </div>
                </div>
                <div class="card-body">
                    <div th:each="postComments : ${post.getComment()}">
                        <a th:text="${postComments.id}"></a>
                        <a th:text="${postComments.comment}"></a>
                        <a th:text="${postComments.timeSent}"></a>
                    </div>
                </div>
                <form th:action="@{/comment/create}" th:method="POST">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="comment">Comment:</label>
                            <br>
                            <textarea class="form-control" name="comment" id="comment"
                                      placeholder="Comment here"></textarea>
                            <input type="hidden" name="postId" th:value="${post.id}">
                        </div>
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div>
    <!--    <footer th:replace="posts/footer :: footer"></footer>-->
</div>
</body>
</html>