<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: header">
    <title>Show Page</title>
</head>
<body>
<div th:include="navbar.html :: navbar"></div>
<div class="container d-flex flex-column align-items-center">
    <br>
    <div class="card" style="width: 50rem;">
        <div>
            <div class="card-header">
                <h3 style="text-align: center;">All Posts For Category: <span th:text="${category.name}"></span></h3>
            </div>
            <div th:each="post : ${posts}" class="list-group-item"><img th:src="${post.imageUrl}" height="50px" width="50px" alt="post_image"><a
                    th:href="${'/posts/' + post.id}"><span th:text="${post.title}"></span></a><br><br>
                <p th:text="${post.content}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>