<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2 class="text-center" th:text="${owner.username + 's Profile'}"></h2>
<ul>
    <div th:each="category : ${categories}">
        <li>
            <a th:href="${'/profile/' + owner.id + '/category/' + category.id}"><span th:text="${category.name}"></span></a>
        </li>
    </div>
</ul>
<div th:each="item : ${posts}">
    <img th:if="${item.imageUrl != null}" src="" alt="" th:src="${item.imageUrl}">
    <div class="card-body"></div>
    <h4 th:text="${item.title}"></h4>
    <p th:text="${item.content}"></p>
    <a th:href="${'/posts/' + item.id}">
        <button type="submit" class="btn btn-primary">View Post</button>
    </a>
    <form th:action="${'/posts/' + item.id + '/update'}" method="get">
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    <form th:action="${'/user/' + item.id + '/update'}" method="get">
        <button type="submit" class="btn btn-success">Update Profile</button>
    </form>
</div>
<ul th:if="${owner != null}">
    <div th:each="yourFriends : ${friends}">
        <li th:text="${yourFriends.username}"></li>
    </div>
</ul>
</body>
</html>