<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/header.html :: header">
    <meta charset="UTF-8"/>
    <title>Sign up</title>
<body>
<div>
    <div th:include="/navbar.html :: navbar"></div>
</div>
<main class="container">
    <br>
    <th:block th:if="${user.id == null}">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 45rem;">
                    <h1 style="text-align: center;">Create an account</h1>
                    <div class="card-body">
                        <form th:action="@{/signup}" method="POST" th:object="${user}">

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="images">Insert Image</label>
                                    <input th:field="*{avatarUrl}" name="avatar_url" class="form-control" id="images" placeholder="Url" type="text">
                                </div>
                                <br>
                                <div class="form-group col-md-6 w-100">
                                    <label for="email">Email Address</label>
                                    <input class="form-control" type="text" id="email" th:field="*{email}"
                                           placeholder="example@example.com"/>
                                </div>
                                <br>
                                <div class="form-group col-md-6 w-100">
                                    <label for="username">Username</label>
                                    <input class="form-control" type="text" id="username" th:field="*{username}"
                                           placeholder="johndoe123"/>
                                </div>
                                <br>
                                <div class="form-group col-md-6 w-100">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" id="password" th:field="*{password}"
                                           placeholder="password123"/>
                                </div>
                            </div>
                            <div class="pt-2">
                                <button type="submit" class="btn btn-success">Sign me up!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</main>
<main class="container">
    <br>
    <th:block th:if="${user.id != null}">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 45rem;">
                    <h1 style="text-align: center;">Update My Account</h1>
                    <div class="card-body">
                        <form th:action="@{/user/__${user.id}__/update}" method="POST" th:object="${user}">

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="images">Insert New Image</label>
                                    <input th:field="*{avatarUrl}" name="avatar_url" class="form-control" id="images2" placeholder="Url" type="text">
                                </div>
                                <br>
                                <div class="form-group col-md-6 w-100">
                                    <label for="email2">Email Address</label>
                                    <input class="form-control " type="text" id="email2" th:field="*{email}" placeholder="example@example.com"/>
                                </div>
                                <br>
                                <div class="form-group col-md-6 w-100">
                                    <label for="username2">Username</label>
                                    <input class="form-control" type="text" id="username2" th:field="*{username}" placeholder="johndoe123"/>
                                </div>
                                <br>
                                <div class="form-group col-md-6 w-100">
                                    <label for="password2">Password</label>
                                    <input class="form-control" type="password" id="password2" th:field="*{password}" placeholder="password123"/>
                                </div>
                            </div>
                            <div class="pt-2">
                                <button type="submit" class="btn btn-success">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</main>
<!--<div>-->
<!--    <footer th:replace="posts/footer :: footer"></footer>-->
<!--</div>-->
</body>
</html>